nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 25px;
	padding-left: 8%;
	padding-right: 8%;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px 25px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-decoration: capitalize;
}
nav ul li a:hover{
	color: #f90870;
	transition: .4s;

}